# Temporary Files
*~
.*.swp
.DS_STORE
*.cache

bin/
target/
test-classes/
war/
gwt-unitCache/
gen/
dist/
**/webapp/assets
.gradle/
build/

*.iml
*.a
/.idea/
.idea/
workspace.xml
tasks.xml
local.properties
*.class
.settings
out/
jni-headers/
*.c
libs/
*.log
*.o
*.ini

**/imgui/core/src/main/java/**
**/imgui/teavm/src/main/java/**
**/extensions/imlayout/imlayout-core/src/main/java/**
**/node-editor/editor-core/src/main/java/**
**/node-editor/editor-teavm/src/main/java/**
**/webapp/**