# Temporary Files
*~
.*.swp
.DS_STORE
*.cache
*.js

bin/
target/
test-classes/
war/
gwt-unitCache/
gen/
dist/
**/webapp/assets
.gradle/
build/

*.iml
*.a
/.idea/
.idea/
workspace.xml
tasks.xml
local.properties
*.class
.settings
out/
*.xml
jni-headers/
*.c
*/jni/
libs/
*.log
*.o